#head{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*body{
    background-image: url("BgImage.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 500px;
    
}*/
.svg{
        align-content: center;
    
}
.main{
    float: left;
    border: 50px;
    margin-left: -40px;
    margin-top: -100px;
}
.hall{
    position: relative;
    text-align: center;
    left: -100px;
}
.sub{
    position: absolute;
    left: 730px;
    bottom: 400px;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
}
.bttns{
    bottom: 400px;
    right: 400px;
}
.typebox{
    height: 600px;
    width: 600px;
    left: 500px;
}
.lay{
    text-align: center;
}