.myform{
    align-self: center;
}
#head{
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}
form{
    border: 5px dashed black;
    border-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    background-color: grey;
}
body{
    background-color: brown;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#restext{
 background-color: grey;
 text-align: center;
}
